{% extends 'doctors/base.html' %}

{% block content %}


<p>
    Медична інформаційна система – це програмне забезпечення, яке дає можливість лікарям взаємодіяти, зберігати всю інформацію в рамках однієї системи.
З медичною інформаційною системою можуть працювати лікарі, адміністратори, бухгалтери та інший компетентний персонал. Для кожного фахівця є свій модуль, наприклад, для лікаря є «Кабінет лікаря», для бухгалтера — «Звітність» і «Каса». Зазвичай перед введенням медичної інформаційної системи в роботу організовують тренінги, де розповідають і пояснюють, як працювати в МІС.
    <br>
    <br>


    Мета даної роботи - підвищення ефективності процесу реєстрації та запису в центрах надання медичних послуг за рахунок розробленої ІС.
<br>
    <br>
Задачі:<br>
-проаналізувати існуючі МІС;<br>
-провести проектування та побудову бази даних;<br>
-провести моделювання і проектування інформаційної системи;<br>
-виконати програмну реалізацію інформаційної системи.<br>
<br>
Предмет дослідження - інформаційна система для лікарів первинної ланки та пацієнтів.<br>
<br>
Об’єкт дослідження - процес реєстрації та запису на прийом.<br>
</p>
{% endblock %}
