{% extends 'doctors/base.html' %}

{% block content %}
<ul class="list-articles">
	<li>
		<p><img class="img-article-left thumb" src="/media/photos/2023/06/09/e0f58107a8b5d84729f24995ebe0d0b3_w859_h569.jpg"></p>
		<h2>Коростенська лікарня 1</h2>
		<p>вул. Шевченка 55</p>
		<div class="clear"></div>
		<p class="link-read-post"><a href="#">Ознайомитись</a></p>
	</li>
	<li>
		<p><img class="img-article-left thumb" src="/media/photos/2023/06/09/64_full.jpeg"></p>
		<h2>Коростенська лікарня 2</h2>
		<p>вул. Шевченка 59</p>
		<div class="clear"></div>
		<p class="link-read-post"><a href="#">Ознайомитись</a></p>
	</li>
	<li>
		<p><img class="img-article-left thumb" src="/media/photos/2023/06/09/golovna.jpg"></p>
		<h2>Київська міська клінічна лікарня 1</h2>
		<p>вул. Депутатська 14</p>
		<div class="clear"></div>
		<p class="link-read-post"><a href="#">Ознайомитись</a></p>
	</li>
	<li>
		<p><img class="img-article-left thumb" src="/media/photos/2023/06/09/P2367428_small.jpg"></p>
		<h2>Київська міська клінічна лікарня 2</h2>
		<p>вул. Депутатська 16</p>
		<div class="clear"></div>
		<p class="link-read-post"><a href="#">Ознайомитись</a></p>
	</li>
</ul>
{% endblock %}
